---
description: Post description goes here 
layout: custom-post-base.njk
templateEngineOverride: md, njk
---


<div class="custom-title"><h1>{{ title }}</h1></div>
<div class="center title-img"><img src="/img/Pac-Man_Logo.svg" alt="A white PAC MAN eating two white pills."></div>
<div class="grid-custom">
<div class="post-block">
  <p class="opening">50 Years ago, the world was introduced to a global superstar that became the most well known gaming character of all time!</P>
  <img src="/img/pacman-side.png" alt="Lee Murray playing a starwars pinball machine.">
</div>

  <div class="post-block">
    <p>My passion for video games began in the 80s – what a time to be alive and grow up! Now, as an adult approaching 50, those memories and fondness of retro games have stuck with me and evolved into this website as a passion project.</p> 
    <p>My daughter Alex is also a gaming fan, particularly fond of retro gaming. However, our ideas of what constitutes retro gaming differ by at least 20 years! Together, we hope to bring you quality retro gaming content in the form of articles, reviews, and news.</p>    <p>Welcome and thanks for visiting Retro Delights!</p>
  </div>

  <div class="post-block">
  
    <img src="/img/pac-man-front-full-qtr-arcade.png" alt="Lee Murray playing a starwars pinball machine.">

  </div>

  <div class="post-block">
    <p class="opening">Still going strong in 2025!</p>   <img src="/img/quoridor-pacman.png" alt="Lee Murray playing a starwars pinball machine."><p>Now, as an adult approaching 50, those memories and fondness of retro games have stuck with me and evolved into this website as a passion project.</p> 
    <p>My daughter Alex is also a gaming fan, particularly fond of retro gaming. However, our ideas of what constitutes retro gaming differ by at least 20 years! Together, we hope to bring you quality retro gaming content in the form of articles, reviews, and news.</p>    <p>Welcome and thanks for visiting Retro Delights!</p>
  </div>

  <div class="post-block last-block">
    <p>My passion for video games began in the 80s – what a time to be alive and grow up! Now, as an adult approaching 50, those memories and fondness of retro games have stuck with me and evolved into this website as a passion project.</p> 
    <p>My daughter Alex is also a gaming fan, particularly fond of retro gaming. However, our ideas of what constitutes retro gaming differ by at least 20 years! Together, we hope to bring you quality retro gaming content in the form of articles, reviews, and news.</p>       <ul class="inline post-info">
         <li>Author: {{ author }}</li>
          <li>{{ page.date | postDate }}</li>
      </ul>    <img src="/img/pacman-brighton-pier.png" alt="Lee Murray playing a starwars pinball machine.">

</div>

</div>
    

     
 


    









