
<section class="footer-content">

<div class="content-bock">
   <h4>Contact</h4>
   <p>Lee Murray (Founder & Author)</p>
   <p>Alex Murray (Founder & Author)</p>
   <p><a href="mailto:">info@retrodelights.co.uk</a></p>
   <p class="white">07545351167</p>  
</div>

<div class="content-bock">
    <h4>Social</h4>
 <ul class="footer-links">
   <li><a href="#">You tube</a></li>
   <li><a href="#">Instagram</a></li>
   <li><a href="#">X</a></li>
   <li><a href="#">Facebook</a></li>
</ul>
</div>

<div class="content-bock">
       <h4>Links</h4>
 <ul class="footer-nav">
   <li><a href="#">About</a></li>
   <li><a href="#">Contact</a></li>
   <li><a href="#">Sponsorship</a></li>
   <li><a href="#">Send products to review</a></li>
   <li><a href="#">Write for Retro Delights</a></li>
</ul>

</div>

<div class="content-bock copyright">
   <p>&copy; Retro delights {% year %}, all rights reserved.</p>
</div>

</section>