 <div class="logo">
        <a href="/index.html"><img src="/svg/retro-delights-logo.svg" alt="A white PAC MAN eating two white pills."></a> 
  </div>    

    <ul class="main-nav"> 
        {%- for page in collections.pages -%} 
          <li>
            <a href="{{ page.url }}">{{ page.data.title }}</a>
          </li>
          {%- endfor -%}
    </ul>

