---
description:
layout: base.njk
templateEngineOverride: md, njk
---


<header>
    <small>  
         <a href="index.html"><img src="img/retro-delights-logo.svg" alt="Happy space invader"></a> 
        {%- for page in collections.pages -%} <a href="{{ page.url }}">{{ page.data.title }}</a>
        {%- endfor -%}
    </small>
</header>


<h1>The home of retro games and products</h1>

<div class="" data-layout="">

</div>
 
{{ content | safe }}