---
title: Retro Gaming Reviews, News and Articles
description: Retro Delights is a delightful place to learn about retro gaming, news and products to collect.
layout: home-base.njk
templateEngineOverride: md, njk
---


<div class="grid-pacman">

<div class="intro-content">
  <div class="intro-block"><img src="/img/alex-space-invaders-arcade.png" alt="A pacman qtr arcade on a table.">
  <p>With a difference in age of over 30 years, we hope to cover all angles of Retro Gaming with our views!</P>
  <p>We’re both new to writing content, so please bear with us. As a designer by trade, I want to use design to create more delightful stories that set us apart from the crowd.</p>
</div>
  <div class="intro-block intro">
    <h1>Retro games delight</h1>

    <p class="highlight">It was a sunny day in 1987, I was doing my Messenger paper round in Sale Moor (Manchester), where I lived. I distinctly remember ‘China in Your Hands’ blaring out of someone’s radio on the estate. As I delivered the papers, I couldn’t help but think about what game I would get next with my paper round money for my Spectrum 128k.</p>
    <p>My passion for video games began in the 80s – what a time to be alive and grow up! Now, as an adult approaching 50, those memories and fondness of retro games have stuck with me and evolved into this website as a passion project.</p> 
    <p>My daughter Alex is also a gaming fan, particularly fond of retro gaming. However, our ideas of what constitutes retro gaming differ by at least 20 years! Together, we hope to bring you quality retro gaming content in the form of articles, reviews, and news.</p>    <p>We pledge to make Retro Delights ad-free. Our only rule is to enjoy ourselves, so welcome and thanks for visiting!</p>

  </div>

  <div class="intro-block">
    <figure>
      <blockquote>
       <span></span>As a designer by trade, I want to use design to create more delightful stories that set us apart from the crowd.<span></span>
       </blockquote>
  <figcaption>Lee Murray</figcaption>
</figure>
<img src="/img/pacman-front-gameplay.png" alt="A pacman qtr arcade on a table."></div>

</div>
<div class="posts" data-layout="">
<h2>News</h2>
 <ul>
  {%- for post in collections.news | reverse -%}
    {% if loop.index0 < 3 %}
    <li>
      <a href="{{ post.url | url }}">
        <img src="{{ post.data.image }}" alt="{{ post.data.alt }}"></img>
        <h3>{{ post.data.title }}</h3>
      </a>
    </li>
     {% endif %}
  {%- endfor -%}
</ul>
<h2>Articles</h2>
 <ul>
  {%- for post in collections.article | reverse -%}
   {% if loop.index0 < 3 %}
    <li>
      <a href="{{ post.url | url }}">
        <img src="{{ post.data.image }}" alt="{{ post.data.alt }}"></img>
        <h3>{{ post.data.title }}</h3>
      </a>
    </li>
     {% endif %}
  {%- endfor -%}
</ul>
<h2>Reviews</h2>
 <ul>
  {%- for post in collections.reviews | reverse -%}
   {% if loop.index0 < 3 %}
    <li>
      <a href="{{ post.url | url }}">
        <img src="{{ post.data.image }}" alt="{{ post.data.alt }}"></img>
        <h3>{{ post.data.title }}</h3>
      </a>
    </li>
     {% endif %}
  {%- endfor -%}
</ul>
<h2>Games</h2>
 <ul>
  {%- for post in collections.games | reverse -%}
     {% if loop.index0 < 3 %}
    <li>
      <a href="{{ post.url | url }}">
        <img src="{{ post.data.image }}" alt="{{ post.data.alt }}"></img>
        <h3>{{ post.data.title }}</h3>
      </a>
    </li>
     {% endif %}
  {%- endfor -%}
</ul>
</div>
</div>
{{ content | safe }}