---
layout: base.njk
templateEngineOverride: md, njk
---

<h1>News</h1>

<div class="posts articles" data-layout="">


 <ul>
  {%- for post in collections.news | reverse -%}
    <li>
      <a href="{{ post.url | url }}">
        <img src="{{ post.data.image }}" alt="{{ post.data.alt }}"></img>
        <h3>{{ post.data.title }}</h3>
      </a>
    </li>
  {%- endfor -%}
</ul>


</div>
</div>
{{ content | safe }}