---
description: Post description goes here 
layout: post-base.njk
templateEngineOverride: md, njk
---


  <div class="grid-space-invader">
    <div class="post">
     
     <h1>{{ title }}</h1>

      <ul class="inline post-info">
         <li>Author: {{ author }}</li>
          <li>{{ page.date | postDate }}</li>
      </ul>

     {{ content | safe }}
    
     </div>
  </div>







