@font-face {
  font-family: 'elena-web-basic', 'sans-serif';
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'colfax-web', 'sans-serif';
  font-weight: 500;
  font-style: normal;
}