@font-face {
  font-family: 'kristi';
  src: url('../fonts/kristi-regular.woff2') format('woff2'),
  url('../fonts/kristi-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}
