/* Html/body -------------------------------------------- */
  html {
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;}
  
  body {
  margin: 0;
  padding: 2rem 1.5rem ;
  background-color: var(--color-background);}

  @media (min-width: 60em) {
    body {
      padding: 2rem 2.5rem;
    }
  }

  @media (min-width: 70em) {
    body {
      padding: 2rem 5.5rem;
    }
  }

  @media (min-width: 90em) {
    body {
      padding: 2rem 5.5rem;
    }
  }

  @media (min-width: 100em) {
    body {
      padding: 2rem 13.5rem;
    }
  }
  
  img {
  border-width: 0;
  max-width: 100%;
  width: 100%; }

  figure {
    margin: 0;
  }

/* Header/footer -------------------------------------------- */
 
header {
  margin-bottom: 60px;
}


.post-page header {
  margin-bottom: 60px;
}

footer {
    margin-top: 60px;
}
  @media (min-width: 50em) {
    .home-page header {
      margin-bottom: 60px;
    }
    header {
      margin-bottom: 110px;
    }
    .post-page header {
      margin-bottom: 140px;
      }
  }
  

/* Grid -------------------------------------------- */

.posts ul {
  text-align: center;
}
 
.intro-content {
  border-bottom: 4px solid var(--purple-color);
  padding-bottom: 40px;
}

.posts {
  border-bottom: 4px solid var(--purple-color);
  padding-bottom: 40px;
}

@media (min-width: 48em) {
  .grid-pacman {
    display: grid;
    grid-column: 1 / 9;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2vh;
}


.intro-content {
  display: grid;
  grid-column: 1 / 9;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2vw;
}

.posts {
  display: grid;
  grid-column: 1/9;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2vw;
  padding-bottom: 90px;
}

  .posts ul {
    text-align: left;
  }

  .grid-space-invader {
    display: grid;
    grid-column-gap: 3vw;
    grid-template-columns: 2fr 1fr 4fr 3fr 3fr 4fr 1fr 2fr;
  }

    .grid-space-invader > * {
      grid-column: 2/8;
    }
}


  @media (min-width: 80em) {
    .grid-space-invader {
      grid-template-columns: 6fr 1fr 4fr 3fr 3fr 4fr 1fr 6fr;
    }

  }


/* List -------------------------------------------- */
ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;}


  /* Articles -------------------------------------------- */

.articles {
  margin-top: 40px;
  margin-right: 0;
  margin-left: 0; }

  @media (min-width: 50em) {
    .articles {
    grid-column: 1/2;
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 3vw;
  }
}

@media (min-width: 70em) {
  .articles {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-column-gap: 2vw;
}
}


  /* Post layout two -------------------------------------------- */

  .layout-two  {
   padding-top: 0;
  }


  @media (min-width: 40em) {
  .layout-two [role=banner] {
    grid-template-columns: 1fr;
  }

  .layout-two h1 {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }
}