/* Html/body -------------------------------------------- */
  html {
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;}
  
  body {
  margin: 0;
  padding: 2rem 1.5rem ;
  background-color: var(--color-background);}

  @media (min-width: 40em) {
    body {
      padding: 2rem 9.5rem;
    }
  }
  
  img {
  border-width: 0;
  max-width: 100%;
  vertical-align: middle; }

/* Header/footer -------------------------------------------- */
  header, footer {
  margin-bottom: 50px; }

  @media (min-width: 60em) {
    header, footer {
      margin-bottom: 110px;
    }
  }


/* Grid -------------------------------------------- */
  @media (min-width: 60em) {
    .grid-pacman {
      display: grid;
 }

.intro {
  grid-column: 1/2;
}
@media (min-width: 40em) {
  .intro {
      margin-right: 6vw;
  }
}

  .posts {
      display: grid;
      grid-column: 2/9;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 5vh;
      margin-top: 40px;
      margin-left: 50px;
  }

  }



/* List -------------------------------------------- */
ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;}

