
 [data-layout*="modular"] {
    --modular-row-height: calc( (var(--modular-width) - (var(--modular-gap-count) * var(--modular-gap)) ) / var(--modular-column-count) ); }
    
    [data-layout="modular-four-columns"] {
    --modular-columns: repeat(4, 1fr);
    --modular-column-count: 4;
    --modular-gap-count: 3; }
    
    [data-layout="modular-five-columns"] {
    --modular-columns: repeat(5, 1fr);
    --modular-column-count: 5;
    --modular-gap-count: 4; }
    
    [data-layout="modular-six-columns"] {
    --modular-columns: repeat(6, 1fr);
    --modular-column-count: 6;
    --modular-gap-count: 5; }


/* Grid */
  
[class*="modular"],
[class*="modular"] > * {
margin-bottom: var(--modular-gap); }

@media (min-width: 64em) {

[class*="modular"] {
display: grid;
grid-template-columns: var(--modular-columns);
grid-auto-rows: var(--modular-row-height);
grid-column-gap: var(--modular-gap);
grid-row-gap: var(--modular-gap);
/* grid-auto-flow: dense; */
width: var(--modular-width);
margin: 0 auto var(--spacing-large); }

[class*="modular"] > * {
margin-bottom: 0; }

.module-square-2 {
grid-column: span 2;
grid-row: span 2; }

.module-square-3 {
grid-column: span 3;
grid-row: span 3; }

.module-tall-2 {
grid-row: span 2; }

.module-tall-3 {
grid-row: span 3; }

.module-tall-wide {
grid-column: span 2;
grid-row: span 3; }

.module-wide-2 {
grid-column: span 2; }

.module-wide-3 {
grid-column: span 3; }

.module-wide-tall {
grid-column: span 3;
grid-row: span 2; }

/* Four column modular grid with three rows -------------------------------------------- */

/* Athens */

[data-layout="modular-four-columns"].modular-athens > :nth-child(1)  {
grid-column: 1 / 3;
grid-row: 1 / 4; }

[data-layout="modular-four-columns"].modular-athens > :nth-child(2)  {
grid-column: 3;
grid-row: 1 / 4; }

[data-layout="modular-four-columns"].modular-athens > :nth-child(3)  {
grid-column: 4;
grid-row: 1; }

[data-layout="modular-four-columns"].modular-athens > :nth-child(4)  {
grid-column: 4;
grid-row: 2; }

[data-layout="modular-four-columns"].modular-athens > :nth-child(5)  {
grid-column: 4;
grid-row: 3; }

/* Berlin */

[data-layout="modular-four-columns"].modular-berlin > :nth-child(1) {
grid-column: 1 / 3;
grid-row: 1; }

[data-layout="modular-four-columns"].modular-berlin > :nth-child(2) {
grid-column: 1;
grid-row: 2; }

[data-layout="modular-four-columns"].modular-berlin > :nth-child(3) {
grid-column: 2;
grid-row: 2; }

[data-layout="modular-four-columns"].modular-berlin > :nth-child(4) {
grid-column: 1;
grid-row: 3; }

[data-layout="modular-four-columns"].modular-berlin > :nth-child(5) {
grid-column: 3;
grid-row: 2 / 4; }

[data-layout="modular-four-columns"].modular-berlin > :nth-child(6) {
grid-column: 4;
grid-row: 1; }

[data-layout="modular-four-columns"].modular-berlin > :nth-child(7) {
grid-column: 4;
grid-row: 2; }

[data-layout="modular-four-columns"].modular-berlin > :nth-child(8) {
grid-column: 4;
grid-row: 3; }

/* Bern */

[data-layout="modular-four-columns"].modular-bern > :nth-child(1) {
grid-column: 1;
grid-row: 1 / 4; }

[data-layout="modular-four-columns"].modular-bern > :nth-child(2) {
grid-column: 2;
grid-row: 1 / 3; }

[data-layout="modular-four-columns"].modular-bern > :nth-child(3) {
grid-column: 2;
grid-row: 3; }

[data-layout="modular-four-columns"].modular-bern > :nth-child(4) {
grid-column: 3;
grid-row: 1; }

[data-layout="modular-four-columns"].modular-bern > :nth-child(5) {
grid-column: 3;
grid-row: 2 / 4; }

[data-layout="modular-four-columns"].modular-bern > :nth-child(6) {
grid-column: 4;
grid-row: 1 / 3; }

[data-layout="modular-four-columns"].modular-bern > :nth-child(7) {
grid-column: 4;
grid-row: 3; }

/* Copenhagen */

[data-layout="modular-four-columns"].modular-copenhagen > :nth-child(1) {
grid-column: 1 / 3;
grid-row: 1 / 3; }

[data-layout="modular-four-columns"].modular-copenhagen > :nth-child(2) {
grid-column: 1;
grid-row: 3; }

[data-layout="modular-four-columns"].modular-copenhagen > :nth-child(3) {
grid-column: 2;
grid-row: 3; }

[data-layout="modular-four-columns"].modular-copenhagen > :nth-child(4) {
grid-column: 3;
grid-row: 1; }

[data-layout="modular-four-columns"].modular-copenhagen > :nth-child(5) {
grid-column: 4;
grid-row: 1; }

[data-layout="modular-four-columns"].modular-copenhagen > :nth-child(6) {
grid-column: 3 / -1;
grid-row: 2 / 4; }

/* Dublin */

[data-layout="modular-four-columns"].modular-dublin > :nth-child(1) {
grid-column: 1;
grid-row: 2 / 4; }

[data-layout="modular-four-columns"].modular-dublin > :nth-child(2) {
grid-column: 2;
grid-row: 1 / 3; }

[data-layout="modular-four-columns"].modular-dublin > :nth-child(3) {
grid-column: 2;
grid-row: 3; }

[data-layout="modular-four-columns"].modular-dublin > :nth-child(4) {
grid-column: 3 / -1;
grid-row: 1; }

[data-layout="modular-four-columns"].modular-dublin > :nth-child(5) {
grid-column: 3 / -1;
grid-row: 2; }

[data-layout="modular-four-columns"].modular-dublin > :nth-child(6) {
grid-column: 3;
grid-row: 3; }
}

/* Five column modular grid with three rows -------------------------------------------- */

/* Athens */

[data-layout="modular-five-columns"].modular-athens > :nth-child(1)  {
grid-column: 1 / 3;
grid-row: 1 / 4; }

[data-layout="modular-five-columns"].modular-athens > :nth-child(2)  {
grid-column: 3;
grid-row: 1; }

[data-layout="modular-five-columns"].modular-athens > :nth-child(3)  {
grid-column: 3;
grid-row: 2; }

[data-layout="modular-five-columns"].modular-athens > :nth-child(4)  {
grid-column: 3;
grid-row: 3; }

[data-layout="modular-five-columns"].modular-athens > :nth-child(5)  {
grid-column: 4;
grid-row: 1 / 4; }

[data-layout="modular-five-columns"].modular-athens > :nth-child(6)  {
grid-column: 5;
grid-row: 1; }

[data-layout="modular-five-columns"].modular-athens > :nth-child(7)  {
grid-column: 5;
grid-row: 2; }

[data-layout="modular-five-columns"].modular-athens > :nth-child(8)  {
grid-column: 5;
grid-row: 3; }

/* Berlin */

[data-layout="modular-five-columns"].modular-berlin > :nth-child(1)  {
grid-column: 1 / 3;
grid-row: 1; }

[data-layout="modular-five-columns"].modular-berlin > :nth-child(2)  {
grid-column: 1;
grid-row: 2; }

[data-layout="modular-five-columns"].modular-berlin > :nth-child(3)  {
grid-column: 2;
grid-row: 2; }

[data-layout="modular-five-columns"].modular-berlin > :nth-child(4)  {
grid-column: 1;
grid-row: 3; }

[data-layout="modular-five-columns"].modular-berlin > :nth-child(5)  {
grid-column: 3;
grid-row: 1 / 4; }

[data-layout="modular-five-columns"].modular-berlin > :nth-child(6)  {
grid-column: 4;
grid-row: 2 / 4; }

[data-layout="modular-five-columns"].modular-berlin > :nth-child(7)  {
grid-column: 5;
grid-row: 1; }

[data-layout="modular-five-columns"].modular-berlin > :nth-child(8)  {
grid-column: 5;
grid-row: 2; }

[data-layout="modular-five-columns"].modular-berlin > :nth-child(9)  {
grid-column: 5;
grid-row: 3; }

/* Bern */

[data-layout="modular-five-columns"].modular-bern > :nth-child(1) {
grid-column: 1;
grid-row: 1 / 4; }

[data-layout="modular-five-columns"].modular-bern > :nth-child(2) {
grid-column: 2;
grid-row: 1 / 3; }

[data-layout="modular-five-columns"].modular-bern > :nth-child(3) {
grid-column: 2;
grid-row: 3; }

[data-layout="modular-five-columns"].modular-bern > :nth-child(4) {
grid-column: 3;
grid-row: 1; }

[data-layout="modular-five-columns"].modular-bern > :nth-child(5) {
grid-column: 3;
grid-row: 2 / 4; }

[data-layout="modular-five-columns"].modular-bern > :nth-child(6) {
grid-column: 4;
grid-row: 1 / 3; }

[data-layout="modular-five-columns"].modular-bern > :nth-child(7) {
grid-column: 4;
grid-row: 3; }

[data-layout="modular-five-columns"].modular-bern > :nth-child(8) {
grid-column: 5;
grid-row: 1; }

[data-layout="modular-five-columns"].modular-bern > :nth-child(9) {
grid-column: 5;
grid-row: 2 / 4; }

/* Copenhagen */

[data-layout="modular-five-columns"].modular-copenhagen > :nth-child(1) {
grid-column: 1 / 3;
grid-row: 1 / 3; }

[data-layout="modular-five-columns"].modular-copenhagen > :nth-child(2) {
grid-column: 1;
grid-row: 3; }

[data-layout="modular-five-columns"].modular-copenhagen > :nth-child(3) {
grid-column: 2;
grid-row: 3; }

[data-layout="modular-five-columns"].modular-copenhagen > :nth-child(4) {
grid-column: 3;
grid-row: 1 / 4; }

[data-layout="modular-five-columns"].modular-copenhagen > :nth-child(5) {
grid-column: 4;
grid-row: 1; }

[data-layout="modular-five-columns"].modular-copenhagen > :nth-child(6) {
grid-column: 5;
grid-row: 1; }

[data-layout="modular-five-columns"].modular-copenhagen > :nth-child(7) {
grid-column: 4 / -1;
grid-row: 2 / 4; }

/* Dublin */

[data-layout="modular-five-columns"].modular-dublin > :nth-child(1) {
grid-column: 1;
grid-row: 2; }

[data-layout="modular-five-columns"].modular-dublin > :nth-child(2) {
grid-column: 1;
grid-row: 3; }

[data-layout="modular-five-columns"].modular-dublin > :nth-child(3) {
grid-column: 2;
grid-row: 2 / 4; }

[data-layout="modular-five-columns"].modular-dublin > :nth-child(4) {
grid-column: 3;
grid-row: 1 / 3; }

[data-layout="modular-five-columns"].modular-dublin > :nth-child(5) {
grid-column: 3;
grid-row: 3; }

[data-layout="modular-five-columns"].modular-dublin > :nth-child(6) {
grid-column: 4 / -1;
grid-row: 1; }

[data-layout="modular-five-columns"].modular-dublin > :nth-child(7) {
grid-column: 4 / -1;
grid-row: 2; }

[data-layout="modular-five-columns"].modular-dublin > :nth-child(8) {
grid-column: 4;
grid-row: 3; }

/* Six column modular grid with four rows -------------------------------------------- */

/* Athens */

[data-layout="modular-six-columns"].modular-athens > :nth-child(1)  {
grid-column: 1 / 4;
grid-row: 1 / 5; }

[data-layout="modular-six-columns"].modular-athens > :nth-child(2)  {
grid-column: 4;
grid-row: 1; }

[data-layout="modular-six-columns"].modular-athens > :nth-child(3)  {
grid-column: 4;
grid-row: 2; }

[data-layout="modular-six-columns"].modular-athens > :nth-child(4)  {
grid-column: 4;
grid-row: 3; }

[data-layout="modular-six-columns"].modular-athens > :nth-child(5)  {
grid-column: 4;
grid-row: 4; }

[data-layout="modular-six-columns"].modular-athens > :nth-child(6)  {
grid-column: 5;
grid-row: 1 / 5; }

[data-layout="modular-six-columns"].modular-athens > :nth-child(7)  {
grid-column: 6;
grid-row: 1; }

[data-layout="modular-six-columns"].modular-athens > :nth-child(8)  {
grid-column: 6;
grid-row: 2; }

[data-layout="modular-six-columns"].modular-athens > :nth-child(9)  {
grid-column: 6;
grid-row: 3; }

[data-layout="modular-six-columns"].modular-athens > :nth-child(10)  {
grid-column: 6;
grid-row: 4; }

/* Berlin */

[data-layout="modular-six-columns"].modular-berlin > :nth-child(1)  {
grid-column: 1 / 4;
grid-row: 1 / 3; }

[data-layout="modular-six-columns"].modular-berlin > :nth-child(2)  {
grid-column: 1;
grid-row: 3; }

[data-layout="modular-six-columns"].modular-berlin > :nth-child(3)  {
grid-column: 2;
grid-row: 3; }

[data-layout="modular-six-columns"].modular-berlin > :nth-child(4)  {
grid-column: 1;
grid-row: 4; }

[data-layout="modular-six-columns"].modular-berlin > :nth-child(5)  {
grid-column: 4;
grid-row: 1 / 5; }

[data-layout="modular-six-columns"].modular-berlin > :nth-child(6)  {
grid-column: 5;
grid-row: 2 / 5; }

[data-layout="modular-six-columns"].modular-berlin > :nth-child(7)  {
grid-column: 6;
grid-row: 1; }

[data-layout="modular-six-columns"].modular-berlin > :nth-child(8)  {
grid-column: 6;
grid-row: 3; }

[data-layout="modular-six-columns"].modular-berlin > :nth-child(9)  {
grid-column: 6;
grid-row: 4; }

/* Bern */

[data-layout="modular-six-columns"].modular-bern > :nth-child(1)  {
grid-column: 1;
grid-row: 1 / 5; }

[data-layout="modular-six-columns"].modular-bern > :nth-child(2)  {
grid-column: 2;
grid-row: 1 / 4; }

[data-layout="modular-six-columns"].modular-bern > :nth-child(3)  {
grid-column: 2;
grid-row: 4; }

[data-layout="modular-six-columns"].modular-bern > :nth-child(4)  {
grid-column: 3;
grid-row: 1 / 3; }

[data-layout="modular-six-columns"].modular-bern > :nth-child(5)  {
grid-column: 3;
grid-row: 3 / 5; }

[data-layout="modular-six-columns"].modular-bern > :nth-child(6)  {
grid-column: 4;
grid-row: 1; }

[data-layout="modular-six-columns"].modular-bern > :nth-child(7)  {
grid-column: 4;
grid-row: 2 / 5; }

[data-layout="modular-six-columns"].modular-bern > :nth-child(8)  {
grid-column: 5;
grid-row: 1 / 4; }

[data-layout="modular-six-columns"].modular-bern > :nth-child(9)  {
grid-column: 5;
grid-row: 4; }

[data-layout="modular-six-columns"].modular-bern > :nth-child(10)  {
grid-column: 6;
grid-row: 1 / 3; }

[data-layout="modular-six-columns"].modular-bern > :nth-child(11)  {
grid-column: 6;
grid-row: 3 / 5; }

/* Copenhagen */

[data-layout="modular-six-columns"].modular-copenhagen > :nth-child(1)  {
grid-column: 1 / 3;
grid-row: 1 / 4; }

[data-layout="modular-six-columns"].modular-copenhagen > :nth-child(2)  {
grid-column: 1;
grid-row: 4; }

[data-layout="modular-six-columns"].modular-copenhagen > :nth-child(3)  {
grid-column: 2;
grid-row: 4; }

[data-layout="modular-six-columns"].modular-copenhagen > :nth-child(4)  {
grid-column: 3 / 5;
grid-row: 1 / 5; }

[data-layout="modular-six-columns"].modular-copenhagen > :nth-child(5)  {
grid-column: 5;
grid-row: 1; }

[data-layout="modular-six-columns"].modular-copenhagen > :nth-child(6)  {
grid-column: 6;
grid-row: 1; }

[data-layout="modular-six-columns"].modular-copenhagen > :nth-child(7)  {
grid-column: 5 / -1;
grid-row: 2 / 5; }

/* Dublin */

[data-layout="modular-six-columns"].modular-dublin > :nth-child(1)  {
grid-column: 1;
grid-row: 2; }

[data-layout="modular-six-columns"].modular-dublin > :nth-child(2)  {
grid-column: 1;
grid-row: 3; }

[data-layout="modular-six-columns"].modular-dublin > :nth-child(3)  {
grid-column: 2;
grid-row: 2 / 5; }

[data-layout="modular-six-columns"].modular-dublin > :nth-child(4)  {
grid-column: 3 / 5;
grid-row: 1 / 4; }

[data-layout="modular-six-columns"].modular-dublin > :nth-child(5)  {
grid-column: 3 / 5;
grid-row: 4; }

[data-layout="modular-six-columns"].modular-dublin > :nth-child(6)  {
grid-column: 5 / -1;
grid-row: 2; }

[data-layout="modular-six-columns"].modular-dublin > :nth-child(7)  {
grid-column: 5 / -1;
grid-row: 3; }

[data-layout="modular-six-columns"].modular-dublin > :nth-child(8)  {
grid-column: 5;
grid-row: 4; }
