/* Headings */
h1 {
  font-family: 'all-round-gothic';
  font-size: 66px; 
  font-weight: 700;
  color: var(--white-color);
  line-height: 0.83; 
  margin-bottom: 16px;
  text-transform: uppercase;}

  .post h1 {
    font-size: 46px; 
    margin-top: 0;
    margin-bottom: 60px;;
  }
 

  @media (min-width: 35em) {
   .post h1 {
      font-size: 67px; 
    }
  }

   .post h1 {
      margin-bottom: 0;
      margin-left: -2px;
    }

    .posts h2 {
    grid-column: 1 / -1;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 60px;
    }
  
  h2 {
  font-family: 'all-round-gothic';
  font-size: var(--font-size-medium);
  color: var(--white-color); }

  .post h2 {
    font-size: 32px; 
    font-family: 'all-round-gothic';
    color: var(--white-color);
    line-height: 0.95; 
    margin-top: 52px;
    margin-bottom: 16px;
    margin-left: -1px;
    text-transform: uppercase;
  }

  h4 {
    font-size: 26px; 
    font-family: 'all-round-gothic';
    color: var(--white-color);
    text-transform: uppercase;
  }

  @media (min-width: 50em) {
    .post h2  {
      font-size: 36px; 
      margin-top:48px;
      margin-bottom:16px;
    }
    .posts h2 {
      margin-top: 40px;
    }
  }
  @media (min-width: 75em) {

  :first-of-type .posts h2 {
    margin-top:40px;
     }
    }

    h3 {
      font-family: 'all-round-gothic';
      font-size: 20px;
      color: var(--white-color); 
      text-transform: uppercase;
    }


/* Parargraphs */
  p, p a, blockquote, figcaption {
    margin: 0 0 var(--spacing-default);
    font-family: 'all-round-gothic';
    color: var(--purple-color);
    font-size: 16px;
    font-weight: var(--font-weight-default);
    font-style: normal;
    line-height: 1.2;
  }

  @media (min-width: 40em) {
    p, p a {
      font-size: 18px;
      line-height: var(--lineheight-text-default);
    }
  }

  p a {
    text-transform: none;
    color: var(--white-color);
  }

  .highlight, blockquote, figcaption {
    font-weight: 600;
    text-transform: uppercase;
  }

blockquote {
    font-size: 18px;
    margin-bottom: 30px;
  }

blockquote:before, blockquote:after {
    content: "";
    display: block;
    margin-inline: auto;
    inline-size: 38px;
    block-size: 24px;
    background-repeat: no-repeat;
}
blockquote:before {
  margin-bottom: 18px;
 }

blockquote:after {
 margin-top: 18px;
}

blockquote:before {
  background-image: url('data:image/svg+xml,<svg width="28" height="23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m12.158.95-3.15 9.75c2.025.75 3.6 2.925 3.6 5.4 0 3.375-2.55 5.925-5.925 5.925S.758 19.475.758 16.1c0-.825.3-2.175.75-3.15l5.4-12h5.25Zm14.625 0-3.15 9.75c2.025.75 3.6 2.925 3.6 5.4 0 3.375-2.55 5.925-5.925 5.925s-5.925-2.55-5.925-5.925c0-.825.3-2.175.75-3.15l5.4-12h5.25Z" fill="%23EDAEEF"/></svg>');
}

blockquote:after {
  background-image: url('data:image/svg+xml,<svg width="28" height="23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1.208 22.05 3.15-9.75c-2.025-.75-3.6-2.925-3.6-5.4 0-3.375 2.55-5.925 5.925-5.925s5.925 2.55 5.925 5.925c0 .825-.3 2.175-.75 3.15l-5.4 12h-5.25Zm14.625 0 3.15-9.75c-2.025-.75-3.6-2.925-3.6-5.4 0-3.375 2.55-5.925 5.925-5.925s5.925 2.55 5.925 5.925c0 .825-.3 2.175-.75 3.15l-5.4 12h-5.25Z" fill="%23EDAEEF"/></svg>');
}

/* Links */
  a, a:visited {
    font-family: 'all-round-gothic'; 
    color: var(--white-color);
    font-size: 18px;
    text-decoration: none; 
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1;}

  /* Footer */

 .copyright p {
    margin-top:30px;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
  }