/* Headings */
h1 {
  font-family: 'colfax-web';
  font-size: 42px; 
  color: var(--purple-color);
  line-height: var(--lineheight-heading-defult); 
  margin-top: 40px;
  padding-right: 60px;}

  @media (min-width: 30em) {
    h1 {
      padding-right: 30px;
    }
  }

  @media (min-width: 40em) {
    h1 {
      font-size: var(--font-size-large); 
      margin: 0 0 var(--spacing-default);
    }
  }
 
  
  h2 {
  font-size: var(--font-size-medium); }

/* Parargraphs */
  p {
    margin: 0 0 var(--spacing-default);
    font-family: 'elena-web-basic';
    color: var(--purple-color);
    font-weight: var(--font-weight-default);
    line-height: var(--lineheight-text-default); }

/* Links */
  a, a:visited {
    font-family: 'colfax-web'; 
    color: var(--white-color);
    text-decoration: none; }

  