/* Headings */
h1 {
  font-family: 'all-round-gothic';
  font-size: 66px; 
  font-weight: 700;
  color: var(--white-color);
  line-height: 0.8; 
  margin-bottom: 16px;
  text-transform: uppercase;}

  .post h1 {
    font-size: 46px; 
    margin-top: 0;
    margin-bottom: 60px;;
  }
 

  @media (min-width: 35em) {
    h1, .post h1 {
      font-size: 67px; 
    }
  }

  @media (min-width: 50em) {
    h1, .post h1 {
      font-size: var(--font-size-large); 
      margin: 0 0 36px 0;
    }
 
  }


   .post h1 {
      margin-bottom: 0;
    }

    .posts h2 {
    grid-column: 1 / -1;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 60px;
    }
  
  h2 {
  font-family: 'all-round-gothic';
  font-size: var(--font-size-medium);
  color: var(--white-color); }

  .post h2 {
    font-size: 46px; 
    font-family: 'all-round-gothic';
    color: var(--white-color);
    line-height: 0.8; 
  }

  @media (min-width: 50em) {
    .post h2  {
      font-size: 56px; 
    }
    .posts h2 {
      margin-top: 40px;
    }
  }
  @media (min-width: 75em) {
  :first-of-type .posts h2 {
    margin-top:40px;
     }
    }

/* Parargraphs */
  p, p a {
    margin: 0 0 var(--spacing-default);
    font-family: 'all-round-gothic';
    color: var(--purple-color);
    font-size: 16px;
    font-weight: var(--font-weight-default);
    font-style: normal;
    line-height: 1.2;
  }

  @media (min-width: 40em) {
    p, p a {
      font-size: 18px;
      line-height: var(--lineheight-text-default);
    }
  }

  p a {
    text-transform: none;
    color: var(--white-color);
  }

  .highlight {
    font-weight: 600;
    text-transform: uppercase;
  }

/* Links */
  a, a:visited {
    font-family: 'all-round-gothic'; 
    color: var(--white-color);
    font-size: 18px;
    text-decoration: none; 
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1;}

  /* Footer */

  footer p {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
  }