/* CSS varibles */
:root {
   /* Font */
  --font-family-default: "all-round-gothic";
  --font-size-large: 4.5625rem;
  --font-size-medium: 3rem;
  --font-size-default: 18px;
  --font-size-small: .8rem;
  --font-weight-default: 400;
  --lineheight-heading-default: 1.15;
  --lineheight-text-default: 1.50;

 /* Colour */
 --color-background: #322E37;
 --color-text-link: #ffffff;
 --purple-color:#EDAEEF;
 --white-color: white;
 
 /* Layout */
 --modular-width: 95vw;
 --modular-gap: 2vw;
 
 /* Spacing */
 --spacing-small: 0.5rem;
 --spacing-default: 1rem;
 --spacing-medium: 1.5rem;
 --spacing-large: 3rem;}

  