@use "varibles";
@use "typography";
@use "layout";

/* Header -------------------------------------------- */
   @media (min-width: 40em) {
    [role="banner"]  {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }
.logo {
    grid-column: 1;
    margin-bottom: 8px;
    text-align: center; }

    .logo img {
        max-width: 30px;
    }

    .logo span {
        display: none;
        position: absolute;
        font-family: 'pf-uniform';
        color: var(--purple-color);
        padding: 9px 0 0 14px;
        font-weight: 400;
        font-size: 21px;
        font-style: normal;
    }
    @media (min-width: 40em) {
        .logo {
            text-align: left;
    }
}

    @media (min-width: 50em) {
        .logo {
            margin-left:26px;}
        .logo img {
            max-width: 40px;}
        .logo span {
            display: inline;
            padding: 8px 0 0 12px;
        }
      }
   
.main-nav {
    grid-column: 2;
    display: flex;
    justify-content: center;
    margin-top: 6px;
    list-style-type: none; }

      @media (min-width: 50em) {
        .main-nav   {
           justify-content: flex-end;
           margin-top: 12px;
        }
      }


.main-nav li {
    display: inline-block;
}

.main-nav a {
   padding: 10px;
   font-size: 12px;}
   @media (min-width: 40em) {
    .main-nav a  {
        font-size: 14px;
    }
  }

  @media (min-width: 70em) {
    .main-nav a  {
        padding: 10px 24px 10px 24px;
    }
  }

/* Home styles -------------------------------------------- */
    @media (min-width: 40em) {
       .posts ul {
            gap: 0 var(--spacing-small);
        }
  }

  .posts ul {
    display: contents;
  }

.posts li {
    list-style: none;
    font-size:20px;
    margin-bottom: 50px;}

.posts h3 {
    margin-top: 16px;
    text-align: left;
}

.author {
    max-width: 50px;
    margin-bottom: 25px;
    padding-right: 6px;}

    @media (min-width: 40em) {
        .author  {
            max-width: 80px;
            margin-bottom: 35px;
            padding-right: 12px;
        }
  }

.drop-cap::first-letter {
    font-size: 150%;
    padding:0 5px 0 5px ;
    background-color: var(--purple-color);
    border-radius: 2px;
    color: var(--color-background);
    margin-right: 5px;
  }

  .intro {
    border-bottom: 4px solid var(--purple-color);
    margin-bottom: 110px;
  }

.intro p:last-of-type {
    padding-bottom: 10px;}

  @media (min-width: 50em) {
    .intro p:last-of-type {
        padding-bottom: 30px; 
    }
    .intro {
        border-bottom: 0;
    }
    .posts li {
        margin-bottom: 60px;
      }
    
}

/* Footer -------------------------------------------- */
footer {
    grid-row: 5;}