@use "varibles";
@use "typography";
@use "layout";

/* Header -------------------------------------------- */
[role="banner"] {
   display: grid;
   grid-template-columns: 1fr 1fr;}
   @media (min-width: 40em) {
    [role="banner"]  {
        grid-template-columns: 1fr 1fr;
    }
  }

.logo {
    grid-column: 1;
    margin-left: 10px; }

    .logo img {
        max-width: 30px;
    }

    .logo span {
        font-family: 'pf-uniform';
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        display: none;
    }

    @media (min-width: 50em) {
        .logo {
            margin-left:26px;}
        .logo img {
            max-width: 40px;}
        .logo span {
            color: var(--purple-color);
            display: inline;
            position: absolute;
            padding: 15px 0 0 14px;
        }
      }
   
.main-nav {
    grid-column: 2;
    display: flex;
    justify-content: flex-start;
    margin-top: 6px;
    list-style-type: none; }
    @media (min-width: 40em) {
        .main-nav   {
            justify-content: flex-end;
        }
      }


.main-nav li {
    display: inline-block;
}

.main-nav a {
   padding: 6px 6px 6px 6px;
   font-size: 11px;}
   @media (min-width: 40em) {
    .main-nav a  {
        font-size: 16px;
        padding: 10px 33px 10px 33px;
    }
  }


   .main-nav a:first-of-type {
    padding-left:25px;}
    @media (min-width: 40em) {
        .main-nav a:first-of-type  {
            padding-left:60px;
        }
        .main-nav a:last-of-type  {
   padding-right: 0;;
        }
  }

/* Home styles -------------------------------------------- */
    @media (min-width: 40em) {
       .posts ul {
            gap: 0 var(--spacing-small);
        }
  }

  .posts ul {
    display: contents;
    margin-right: 60px;
  }

.posts li {
    list-style: none;
    font-size:20px;
    margin-bottom: 60px;}

    @media (min-width: 40em) {
        .posts li h3  {
            margin-right: 20px;
         }
  }


  @media (min-width: 60em) {
    .posts li h3  {
       margin-right: 60px;
    }
}


.author {
    display: none;
    max-width: 50px;
    margin-bottom: 50px;
    padding-right: 6px;}

    @media (min-width: 40em) {
        .author  {
            max-width: 80px;
            margin-bottom: 70px;
            padding-right: 18px;
        }
  }

.drop-cap::first-letter {
    font-size: 150%;
    padding:0 5px 0 5px ;
    background-color: var(--purple-color);
    border-radius: 2px;
    color: var(--color-background);
    margin-right: 5px;
  }

.intro p:last-of-type {
    border-bottom: 4px solid var(--purple-color);
    padding-bottom: 30px;
    margin-bottom: 80px;}

  @media (min-width: 40em) {
    .intro p {
        padding-right: 0;
    }

    .intro p:last-of-type {
        border-bottom: 0;
    }
}

/* Footer -------------------------------------------- */
footer {
    grid-row: 5;}